@import "vars.css";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow: scroll;
}
body {
  font: 12px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
a {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
#we-wrapper {
  position: relative;
  margin-top: 50px;
  background: url(../img/we-grid.png) repeat center;
}
#we-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  width: 100%;
  height: 50px;
  background-color: #222;
  box-shadow: 0 5px 10px #666666;
  overflow: hidden;
}
#we-header .we-logo {
  width: 200px;
  height: 100%;
}
#we-header .we-menubar {
  height: 28px;
  padding: 10px;
}
#we-header .we-menubar a.we-menu {
  display: block;
  margin: 0 0 0 10px;
  padding: 0 10px;
  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: inset 1px 1px 0 #555555;
  line-height: 28px;
  color: #ddd;
}
#we-header .we-menubar a.we-menu:hover {
  color: #fff;
}
#we-ruler-h,
#we-ruler-v {
  position: fixed;
  left: 0;
  top: 50px;
  z-index: 10001;
  cursor: pointer;
}
#we-ruler-h .we-ruler-inner,
#we-ruler-v .we-ruler-inner {
  position: relative;
}
#we-ruler-h {
  width: 100%;
  height: 21px;
  background: url(../img/we-ruler-h.gif) repeat-x 0 0;
}
#we-ruler-h .we-ruler-inner {
  width: 100%;
  height: 21px;
  background: url(../img/we-ruler-h-inner.gif) no-repeat 0 0;
}
#we-ruler-v {
  width: 21px;
  height: 100%;
  background: url(../img/we-ruler-v.gif) repeat-y 0 0;
}
#we-ruler-v .we-ruler-inner {
  width: 21px;
  height: 500%;
  background: url(../img/we-ruler-v-inner.gif) no-repeat 0 0;
}
.we-line-h,
.we-line-v {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: move;
}
.we-line-h .we-coord,
.we-line-v .we-coord {
  position: absolute;
  width: auto;
  padding: 0 5px;
  border: solid 1px #111;
  background-color: #fff;
  line-height: 18px;
  color: #333;
}
.we-line-h {
  height: 1px;
  background: url(../img/we-line-h.gif) repeat-x center;
}
.we-line-h .we-coord {
  float: left;
  top: 0;
  left: 26px;
  transform: translate(0, -50%);
}
.we-line-v {
  width: 1px;
  background: url(../img/we-line-v.gif) repeat-y center;
}
.we-line-v .we-coord {
  top: 26px;
  left: 0;
  transform: translate(-50%, 0);
}
.we-widgetbar-dialog {
  z-index: 10002;
}
#we-widgetbar {
  display: none;
}
#we-widgetbar .we-widget {
  display: block;
  width: 70px;
  height: 30px;
  background-color: #fff;
  line-height: 30px;
  text-align: center;
  color: #333;
}
.we-widget-dragging {
  display: block;
  width: 70px;
  height: 30px;
  background-color: #fff;
  line-height: 30px;
  text-align: center;
  color: #333;
  border: solid 1px #ddd;
  border-radius: 2px;
  box-shadow: 0 0 5px #ddd;
}
.we-layer {
  position: absolute;
  left: 0;
  top: 0;
}
.we-layer .we-content {
  height: 100%;
  background-color: #f90;
}
.we-layer-active .we-layer-resizablebox .ui-resizable-handle {
  display: block;
}
.we-layer-resizablebox {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.we-layer-resizablebox .we-resizable-placeholder,
.we-layer-resizablebox .ui-resizable-handle {
  position: absolute;
  z-index: 1;
  display: none;
  width: 3px;
  height: 3px;
}
.we-layer-resizablebox .ui-resizable-handle .we-resizable-node {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #2eaeff;
}
.we-layer-resizablebox .ui-resizable-nw {
  left: 0;
  top: 0;
  cursor: nw-resize;
}
.we-layer-resizablebox .ui-resizable-nw .we-resizable-node {
  top: -3px;
  left: -3px;
}
.we-layer-resizablebox .we-placeholder-n,
.we-layer-resizablebox .ui-resizable-n {
  left: 0;
  top: 0;
  width: 100%;
  border-top: solid 1px #2eaeff;
  cursor: n-resize;
}
.we-layer-resizablebox .ui-resizable-n .we-resizable-node {
  left: 50%;
  top: -4px;
}
.we-layer-resizablebox .ui-resizable-ne {
  right: 0;
  top: 0;
  cursor: ne-resize;
}
.we-layer-resizablebox .ui-resizable-ne .we-resizable-node {
  top: -3px;
  right: -3px;
}
.we-layer-resizablebox .we-placeholder-w,
.we-layer-resizablebox .ui-resizable-w {
  left: 0;
  top: 0;
  height: 100%;
  border-left: solid 1px #2eaeff;
  cursor: w-resize;
}
.we-layer-resizablebox .ui-resizable-w .we-resizable-node {
  top: 50%;
  left: -4px;
}
.we-layer-resizablebox .we-placeholder-e,
.we-layer-resizablebox .ui-resizable-e {
  right: 0;
  top: 0;
  height: 100%;
  border-right: solid 1px #2eaeff;
  cursor: e-resize;
}
.we-layer-resizablebox .ui-resizable-e .we-resizable-node {
  top: 50%;
  right: -4px;
}
.we-layer-resizablebox .ui-resizable-sw {
  left: 0;
  bottom: 0;
  cursor: sw-resize;
}
.we-layer-resizablebox .ui-resizable-sw .we-resizable-node {
  bottom: -3px;
  left: -3px;
}
.we-layer-resizablebox .we-placeholder-s,
.we-layer-resizablebox .ui-resizable-s {
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: solid 1px #2eaeff;
  cursor: s-resize;
}
.we-layer-resizablebox .ui-resizable-s .we-resizable-node {
  left: 50%;
  bottom: -4px;
}
.we-layer-resizablebox .ui-resizable-se {
  right: 0;
  bottom: 0;
  cursor: se-resize;
}
.we-layer-resizablebox .ui-resizable-se .we-resizable-node {
  bottom: -3px;
  right: -3px;
}
.we-layeroptbar-dialog {
  z-index: 10002;
}
.we-layeroptbar-list {
  width: 400px;
}
.we-layeroptbar {
  position: relative;
}
.we-layeroptbar fieldset {
  padding: 8px;
  border: 1px solid #ddd;
}
.we-layeroptbar fieldset legend {
  line-height: 22px;
}
.we-layeroptbar table tr td {
  padding: 0 5px;
  vertical-align: middle;
}
.we-layeroptbar .we-slider {
  width: 80px;
}
.we-layeroptbar .we-spinner {
  width: 30px;
}
.we-layeroptbar .we-number {
  width: 40px;
}
#we-layeroptbar-text {
  width: 100%;
}
#we-canvas {
  position: relative;
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  border: solid 1px #ddd;
  background-color: #fff;
}
