.we-widgetbar-dialog {
  z-index: 10002;
}
#we-widgetbar {
  display: none;
}
#we-widgetbar .we-widget {
  display: block;
  width: 70px;
  height: 30px;
  background-color: #fff;
  line-height: 30px;
  text-align: center;
  color: #333;
}
.we-widget-dragging {
  display: block;
  width: 70px;
  height: 30px;
  background-color: #fff;
  line-height: 30px;
  text-align: center;
  color: #333;
  border: solid 1px #ddd;
  border-radius: 2px;
  box-shadow: 0 0 5px #ddd;
}
